.app{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th,td{
  border: 3px solid black;
  padding: 8px;
  font-size: 12px;
  
}
th{
  background-color: aqua; 
}
td{
  background-color:rgb(195, 235, 222);
}
img{
 height: 520px;
}
.search{
 margin-right: 350px;
}
.registration-container {
 max-width: 400px;
 margin: 0 auto;
 padding: 20px;
 background-color: #f9f9f9;
 border-radius: 8px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 margin-top: 20px;
}

.registration-container h2 {
 text-align: center;
}

.div {
 margin-bottom: 10px;
}

.div label {
 font-weight: bold;
}

.div input {
 width: 100%;
 padding: 8px;
 border: 1px solid #ccc;
 border-radius: 4px;
 font-size: 16px;
}

.btn1{
 width: 100%;
 padding: 10px;
 background-color: rgb(92, 192, 226);
 color: #fff;
 border: none;
 border-radius: 10px;
 font-size: 16px;
 cursor: pointer;
}


.login-container {
max-width: 400px;
margin: 0 auto;
padding: 20px;
background-color: #f9f9f9;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-top: 20px;
}

.login-containers h2 {
text-align: center;
}

